
     
      body, html {
    height: 100%;
    }
    
    
  
/* Navigation bars styles */
    .navbar {
           
      margin-bottom: 0;
      border-radius: 0;
      background-color: #096d1c;
      color: #fff;
      padding: 0.02% 0;
      font-size: 1.1em;
      font-weight: bold;
      border: 0;
      text-transform: uppercase;
      }

/* styles for logo 
      .logo {
          height:84px;
          width:115px;
      }
      */

    .navbar-brand {
      float: left;
          height: 20px;
          width: auto;
      padding: 0 10px 2px;

    }
    .navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus,.navbar-inverse .navbar-nav .active a:hover {
      color: #fff;
      background-color: #37c42b;
    }
    .navbar-inverse .nav-nav li a  {
      color: #fff;
    }
    .mynav {
      margin-right: 10%;
    }
    
    .slide {
    
        margin-top:100px;
        
    }
    
    
 
    /* Icons styles*/

    .icons {
         border-radius: 20px;
         height: 200px;
         margin-left: 10%;
         margin-top: 10%;
         
      }

      

 /* .bg {
    /* The image used 
    background-image: url("../images/header-img2.jpg");
    
    /* Adjustable height and width 
    height: 60%;
    width: 100%;


    /* Center and scale the image nicely 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
*/

    .text-title {
         margin: 0px 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    

      .text-secure {
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          color:#397c33;
          font-weight: bolder;
          text-transform: capitalize;
          text-decoration: underline;

      }


      .first-row {
          margin-top: 20px;
      }

      .text-para {
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-size: 1.2em;
      }

     .move {
      margin-left: 50%;
      margin-top: 20px;
    }

    .lock-center{
          margin-left: 50%;
      }

    .text-services {
      font-size: 2.5em;
      font-weight: bolder;
    
    }
    .text-below {
        margin-top: 70px;
    }

    h2 {
        font-size: 2.6em;
        font-weight: 600;
        color: #397c33;
        text-decoration: underline;
    }

    .tpara {
        font-size: 1.4em;
        font-weight: 400;
        
    }

    .fa-thumbs-up, .fa-check, .fa-anchor, .fa-bullseye , .fa-search , .fa-cube , .fa-hand-paper , .fa-hand-peace {
        font-size: 70px;
        color: #37c42b;
        margin-left: 35%;
    }

    .value-header{
        text-align: center;
        font-weight: 400;
    }
    /*.icon {
        border: 1px;
        border-style: dashed;
        border-color: #37c42b;
        border-radius: 15px;
    }**/
    .space{
            margin-bottom: 40px;
            background-color: green;
            margin-top: 70px;
        }
    .one{
            color:#fff;
            text-decoration: none;
        }
    .alajo{
        font-size: 70px;
        color: #37c42b;
    }
    
    .stuborn{
        margin-right:50%;
    }
    .login-f {
        margin-top: 50px;
        border: 1px dashed #37c42b;
        padding: 40px 20px 40px 20px;
        border-radius: 10px;
        text-align: center;
        
    }

    .form-text{

      margin-top: 150px;
      margin-left: 50px;
    }

    .service-type{
        font-style: italic;
        font-size: 1.2em;
        font-weight: 200;
    }
    .btn , .btn-custom {
    background-color: green
    margin-bottom:10%;
}
    .form-container {
        margin-left: 35%;
    }

    .text-feature{
        border: 2px solid green;
        display: none;
        font-size: 14px;
        margin-top: 10px;
        padding: 5px;
        text-transform: uppercase;
        border-radius: 10px;
     }
     .feature-style:hover .text-feature{
        display: block;
      }
      .logo-partner{
          margin-bottom: 100px;
      }
      
      .red{
          color:#dc143c;
      }

        /*Footer Styles*/

      .footer {
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: green;
        color: white;
        text-align: center;
        margin-top: 1.2em;
          }